.container {
    margin-left: 10%;
    margin-right: 10%;
}

.heading, .header h3 {
    color: orange;
}

img {
    width: 500px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header ul {
    list-style: none;
    display: flex;
}

.header ul li {
    width: 60px;
}

.header ul li a {
    text-decoration: none;
}

.footer {
    margin-top: 70px;
}

.footer ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.footer ul li {
    width: 60px;
    padding: 5px;
}

.footer ul li a {
    text-decoration: none;
}